.todoList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todoLine {
  display: flex; /* элементы в строку */
  align-items: center; /* выравнивание по вертикали */
  justify-content: space-between; /* текст слева, кнопка справа */
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
.todoLine {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;

  /* анимация появления */
  opacity: 0;
  transform: translateY(10px);
  animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

